<section class="section">
	<div class="container">
		<h1 class="Title">
			<%= @post.title %>
		</h1>
		<div class="body">
			<%= @post.body %>
		</div>
		<div class="user_id">
			<%= @post.user_id_id %>
		</div>
	</div>
</section>

